@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/Pages/PrivacyPolicy.css" asp-append-version="true" />

<div class="text-center">

    <div class="container ">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            

            <p class="mx-auto mt-3   text-white-50">
                В разработке...
            </p>
        </div>
    </div>
</div>
