@page
@model WebApp_UnderKo.Pages.YouTubeDownloaderModel
@{
    ViewData["Title"] = "YouTubeDownloader";
    int count__ = 0;


    async Task Text(string item)
    {
        <div class="bordeer-tlbr rounded-3 m-1">
            <li class="nav-item m-1"><a href="#" class="nav-link p-0 text-muted">VideoCodec: @item</a></li>
        </div>

    }
}


<div class="m-3 pb-3">
    <div width="100%" class="pb-3 blured p-3 bordeer-tlbr rounded-3">
        <form method="post">
            <h4>Link YouTube</h4>
            <input class="form-control rounded text-muted bordeer-tlbr"
                   style="background-color: #1f1f1f33;"
                   type="text" name="url" value="@Model.Link" />
        </form>
    </div>
    @if (!string.IsNullOrEmpty(Model.Link))
    {
       
        <div class="justify-content-center m-2">
            <h3> Test Stream Youtube </h3>
            <audio controls autoplay="">
                <source src="@Model.LinkAudio" type="audio/mpeg">
            </audio>
            <video style="width:40%" controls="" name="media"><source src="@Model.Link" type="video/mp4"></video>

        </div>


    }

</div>